<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Manage Courses</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/script.manageCourses.js"></script>
    <style>
        body {
        }
    </style>
</head>
<body>
<h1 class="ui teal header" style="margin-top: 32px ; margin-left: 32px ; margin-bottom: 32px">Dashboard</h1>
<div class="ui divider"></div>
<div class="container" style="padding: 32px">
    <% errors.forEach(function(error){ %>
    <div class="ui warning message">
        <div class="header">
            <%= error %>
        </div>
    </div>
    <% }); %>
    <% infos.forEach(function(info){ %>
    <div class="ui positive message">
        <div class="header">
            <%= info %>
        </div>
    </div>
    <% }); %>
    <div class="ui stacked segment">
        <h2 class="ui header">View or Delete Course</h2>
        <div class="ui large form" id="search_form">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field">
                        <input type="text" name="courseNameSearch" placeholder="Course Name"/>
                    </div>
                </div>
                <div class="four wide column">
                    <input type="button" class="ui fluid large teal button" value="View" id="b_view_course">
                </div>
                <div class="four wide column">
                    <input type="button" class="ui fluid large teal button" value="Delete" id="b_delete_course">
                </div>
            </div>
        </div>
    </div>
    <div class="ui stacked segment">
        <form class="ui large form" id="course_form">
            <h2 class="ui header">Add or Update Course details</h2>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field">
                        <label>Course Name</label>
                        <input name="courseName" type="text" placeholder="Course Name"/>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>Maximum Marks</label>
                        <input name="maxMarks" type="number" placeholder="Maximum Marks"/>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>Credits</label>
                        <input name="credits" type="text" placeholder="Credits"/>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>Hours</label>
                        <input name="hours" type="number" placeholder="Hours"/>
                    </div>
                </div>

                <div class="eight wide column">
                    <input type="button" value="Add" class="ui fluid large teal button" id="b_add_course"/>
                </div>

                <div class="eight wide column">
                    <input type="button" value="Update" class="ui fluid large teal button" id="b_update_course"/>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>
