<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <style>
        body {
        }
    </style>
</head>
<body>
<h1 class="ui teal header" style="margin-top: 32px ; margin-left: 32px ; margin-bottom: 32px">Dashboard</h1>
<div class="ui divider"></div>
<div class="container" style="padding: 32px">
    <div class="ui cards">
        <a href="/dashboard/manageProgram" style="margin-right: 15px">
            <div class="ui card">
                <div class="content">
                    <div class="header">Manage Programs</div>
                </div>
                <div class="ui content">
                    Manage Programs available in the Result Management System.
                </div>
            </div>
        </a>

        <a href="/dashboard/manageCourse" style="margin-right: 15px">
            <div class="ui card">
                <div class="content">
                    <div class="header">Manage Courses</div>
                </div>
                <div class="content">
                    Manage Courses registered with the Result Management System
                </div>
            </div>
        </a>

        <a href="/manageProgram" style="margin-right: 15px">
            <div class="ui card">
                <div class="content">
                    <div class="header">Manage Marks</div>
                </div>
                <div class="content">
                    Manage Marks of the students registered with the result management system
                </div>
            </div>
        </a>

        <a href="/manageProgram" style="margin-right: 15px">
            <div class="ui card">
                <div class="content">
                    <div class="header">Manage Students</div>
                </div>
                <div class="content">
                    Manage the students registered with the result management system
                </div>
            </div>
        </a>

    </div>
</div>
</body>
</html>
